---
interface Props {
  title: string;
  date: string;
  url: string;
}

const { title, date, url } = Astro.props;
---

<div class="mb-8">
  <h2 class="text-2xl font-semibold mb-2">
    <a href={url} class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300 transition duration-300">
      {title}
    </a>
  </h2>
  <p class="text-gray-600 dark:text-gray-400">{date}</p>
</div>